body {
    margin: 0;
    padding: 0;
  }
header {
    background-color: rgb(207, 171, 238);
    z-index: 1000;
    transition: background-color 0.3s ease;
  }

  header.fixed {
    background-color: #d364e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0; 
  }
.margen{
    margin-top: 4%;
}


.caja {
    border: 5px solid #af70d6; 
    border-radius: 30px;
    box-shadow: 20px 8px 10px rgba(23, 34, 238, 0.1); 
    padding: 30px;
    max-width: 55%; 
    margin: 2% auto; 
}


#mapa {
    width: 100%;
 
    overflow: hidden;
}

.cafeteria{
    max-height: 100%;

}
#githubMessage{
    display: none;
}
label span {
    font-size: 1em;
    visibility: hidden;
    
  }

#explicacion {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





footer {
    background-color: #d9b0ea;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

h4 {
    color: #262020; 
}

.lista {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    #mapa {
        padding-bottom: 150%; 
    }
}


